<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div id="app">
        <!-- 头部商铺名称 -->
        <div class="store">
            <input type="checkbox" class="select-all" v-model="checkedAll" />
            <span class="store-name">渡一WEB前端教育</span>
        </div>
        <!-- 商品信息展示 -->
        <ul class="course-list">
            <li class="course" v-for="(course,index) in courseList">
                <!-- 商品选择按钮 -->
                <input type="checkbox" class="course-radio" v-model="course.checked" />
                <!-- 商品图片 -->
                <div class="poster">
                    <img :src="course.poster" :alt="course.title">
                </div>
                <div class="content">
                    <!-- 商品名称 -->
                    <div class="title">{{ course.title }}</div>
                    <!-- 控制商品数量 -->
                    <div class="price-container">
                        <div class="price">￥{{course.price}}</div>
                        <div class="control-cart">
                            <button class="minus-cart" @click="changeNum('-',index)">-</button>
                            <input type="text" class="cart-num" v-model.number="course.cart">
                            <button class="add-cart" @click="changeNum('+',index)">+</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="control">
            <div class="select">
                <input type="checkbox" class="select-all" v-model="checkedAll">
                <span>全选</span>
            </div>
            <div class="price-container">
                <span>合计：</span>
                <span class="price">￥ {{ selectTotalAmo }}</span>
                <button class="accounts">结算({{selectList.length}})</button>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    const vm = new Vue({
        el: "#app",
        data: {
            courseList: [{
                poster: 'https://img.alicdn.com/bao/uploaded/i1/TB1VtAgdlWD3KVjSZFs3KIqkpXa_040950.jpg_80x80.jpg',
                title: '渡一教育 CSS3 深度剖析',
                price: 1299,
                cart: 1,
                id: 0,
                checked: false
            }, {
                poster: 'https://img.alicdn.com/bao/uploaded/i7/TB1_VJecBWD3KVjSZKPagip7FXa_045814.jpg_80x80.jpg',
                title: '渡一教育 移动端开发课程',
                price: 1148,
                cart: 1,
                id: 1595402664708,
                checked: false
            }, {
                poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1J.Q4cQxz61VjSZFto7uDSVXa_010347.jpg_80x80.jpg',
                title: '渡一教育 2019年 HTMLCSS零基础入学宝典',
                price: 1,
                cart: 1,
                id: 1596305473062,
                checked: false
            }, {
                poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1bHwlaCWD3KVjSZSgVbgCxVXa_032434.jpg_80x80.jpg',
                title: '渡一教育 Web前端开发JavaScriptJs课',
                price: 1,
                cart: 1,
                id: 1595413512182,
                checked: false
            }, {
                poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1MJd3g4z1gK0jSZSgnHevwpXa_014447.jpg_80x80.jpg',
                title: 'Web前端开发高级工程师全阶班【渡一教育】',
                price: 12798,
                cart: 1,
                id: 1596302161181,
                checked: false
            }, {
                poster: 'https://img.alicdn.com/bao/uploaded/i6/TB1xPeAbwaH3KVjSZFpjaLhKpXa_105848.jpg_80x80.jpg',
                title: '渡一教育 Java零基础入门到精通（集合，泛型等）',
                price: 1,
                cart: 1,
                id: 1596300025301,
                checked: false
            }]
        },
        methods: {
            changeNum(a, index) {
                if (a == '-' && this.courseList[index].cart != 1) {
                    this.courseList[index].cart = this.courseList[index].cart - 1;
                }
                if (a == '+') {
                    this.courseList[index].cart = this.courseList[index].cart + 1;
                }
            }
        },
        computed: {
            selectList() {
                return this.courseList.filter(course => course.checked);
            },
            selectTotalAmo() {
                let price = 0;
                this.selectList.forEach(element => {
                    price += element.price * element.cart;
                });
                return price;
            },
            checkedAll: {
                // 当依赖的属性发生变化的时候 执行 get
                get() {
                    return this.selectList.length == this.courseList.length;
                },
                // 当手动改变 checked 值的时候触发 set 方法
                set(val) {
                    this.courseList.forEach(item => item.checked = val);
                }
            }
        }
    })
</script>

</html>